* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.logo-container {
  width: 120px;
  margin-left: 50px;
}

.logo {
  width: 100%;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px 30px;
  margin: 5px;
  color: white;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(46, 134, 156);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.nav-items > ul > li:hover {
  /* filter: brightness(110%); */
  opacity: 0.9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.filter {
  margin: 10px 20px;
  display: flex;
}

.filter-btn {
  padding: 10px;
  border: none;
  background-color: rgb(215, 52, 115);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.restro-container {
  display: flex;
  flex-wrap: wrap;
}

.restro-card {
  width: 220px;
  /* height: 310px; */
  margin: 5px 20px;
  padding: 5px;
}

.restro-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.restro-card > * {
  margin-bottom: 10px;
}

.restro-logo {
  width: 100%;
  height: 200px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  height: 300px;
  width: 200px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login-btn {
  padding: 5px 20px;
  background-color: rgb(205, 89, 17);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.search {
  margin-right: 20px;
}

.search-box {
  height: 30px;
}

.search-btn {
  cursor: pointer;
  padding: 5px;
  border: 1px solid red;
  background-color: rgb(181, 173, 173);
}

.description {
  background-color: rgb(165, 165, 207);
  width: max-content;
  padding: 10px;
  margin: 5px;
}

.user-card {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
}

.count-btn {
  padding: 5px;
  cursor: pointer;
}
